<header>
    <div class="navbar-container">
        <div class="logo">
            <img src="images/logoimage.png" alt="logo">
        </div>

        <nav class="navbar navbar-red">
            <ul>
                {% for item in site.menus.header %}
                <li>
                    <a class="{% if item.url == page.url %}active{% endif %}" href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>