<header>
    <div class="navbar-container">
        <div class="logo">
            <img src="images/logoimage.png" alt="logo">
        </div>

        <nav class="navbar navbar-red">
            <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="http://sectorsixapparel.com/esports/team-marketplace/avalanche-esports/" alt="store">Store</a></li>
                  </ul>
        </nav>
    </div>
</header>